@font-face {
  font-family: "Airbnb Cereal VF";
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2")
      format("woff2-variations");
  font-style: normal;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F,
    U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-display: swap;
}
@font-face {
  font-family: "Airbnb Cereal VF";
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Italics_W_Wght.4d5968bfe066c741d708adc61baed262.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Italics_W_Wght.4d5968bfe066c741d708adc61baed262.woff2")
      format("woff2-variations");
  font-style: italic;
  unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F,
    U+FF00-EFFFF, U+FFFFE-10FFFF;
  font-display: swap;
}
@font-face {
  font-family: "Airbnb Cereal VF";
  unicode-range: U+0600-06FF, U+0750-077F;
  font-style: normal;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Arabic_W_Wght.d9f154d65b7b534fa988aba51062c8df.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Arabic_W_Wght.d9f154d65b7b534fa988aba51062c8df.woff2")
      format("woff2-variations");
  font-display: swap;
}
@font-face {
  font-family: "Airbnb Cereal VF";
  unicode-range: U+0400-04FF;
  font-style: normal;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Cyril_W_Wght.26f0964acf4eb88cb3589d38a3182964.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Cyril_W_Wght.26f0964acf4eb88cb3589d38a3182964.woff2")
      format("woff2-variations");
  font-display: swap;
}
@font-face {
  font-family: "Airbnb Cereal VF";
  unicode-range: U+0590-05FF, U+FB00-FB4F;
  font-style: normal;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Hebrew_W_Wght.33e5e2c8babc146eff37ebcaa12cb8bb.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Hebrew_W_Wght.33e5e2c8babc146eff37ebcaa12cb8bb.woff2")
      format("woff2-variations");
  font-display: swap;
}
@font-face {
  font-family: "Airbnb Cereal VF";
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2")
      format("woff2-variations");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Airbnb Cereal VF";
  unicode-range: U+0900-097F;
  font-style: normal;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Deva_W_Wght.11994dc426c38d93ebc5f3cc27490d30.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Deva_W_Wght.11994dc426c38d93ebc5f3cc27490d30.woff2")
      format("woff2-variations");
  font-display: swap;
}
@font-face {
  font-family: "Airbnb Cereal VF";
  unicode-range: U+0E00-0E7F;
  font-style: normal;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_ThaiLp_W_Wght.61a8da9355421c30286deb6d36aa3fb0.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_ThaiLp_W_Wght.61a8da9355421c30286deb6d36aa3fb0.woff2")
      format("woff2-variations");
  font-display: swap;
}
@font-face {
  font-family: "Airbnb Cereal VF";
  unicode-range: U+0370-03FF;
  font-style: normal;
  src: url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Greek_W_Wght.7f56bb1b50c0f29a313a57f55e55be5f.woff2")
      format("woff2 supports variations"),
    url("https://a0.muscache.com/airbnb/static/airbnb-dls-web/build/fonts/cereal-variable/AirbnbCerealVF_Greek_W_Wght.7f56bb1b50c0f29a313a57f55e55be5f.woff2")
      format("woff2-variations");
  font-display: swap;
}

/* reset */
body,
p,
a,
ul,
li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #222222;
}
li {
  list-style-type: none;
}

/* mobile view */
.main-container {
  width: 100%;
  height: auto;
  color: #222222;
  background-color: #ffffff;
  font-family: "Airbnb Cereal VF";
  font-size: 0.875rem;
  line-height: 1.43;
  line-break: strict;
  text-size-adjust: 100%;
}

/* ____navbar____ */

.nav-container{
  width: 100%;
  height: 144px;
  position: relative;
  display: flex;
  flex-flow: column;
  line-height: 20.02px;
  max-width: 1440px;
  text-size-adjust: 100%;
  margin-top: 0px;
}
/* .nav-container::after{
  left: 0;
  top: 0;
  height: 2px;
  width: 100%;
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  font-size: 14px;
  background-color: #000000;
  box-shadow: rgb(0 0 0 / 100%)0 0 6px;
} */
 /*  */
.nav-container::after{
  top: 144px;
  height: 1px;
  width: 100%;
  content: '';
  /* font-size: 0.875rem; */
  font-weight: 500;
  line-height: 1.125rem;
  position: absolute;
  box-shadow: rgb(0 0 0 / 50%) 0 0 6px 0;
  /* box-shadow: #222222 0px 0px 6px 0px; */
  background-color: #DDDDDD;
  box-sizing: border-box;
  margin: 0px 0px;
}
/*  */
.top-nav-con{
  width: 100%;
}
.nav-tab-container{
  display: none;
}
.nav-mob-container{
  margin-top: 12px;
  margin-inline: 16px;
  /* margin: 12px 16px 0; */
  padding: 0;
}
.nav-for-mob{
  width: 100%;
  min-height: 56px;
  display: grid;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  border-radius: 1000px;
  border: 0.5px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 6px 20px 0px;
  background-repeat: repeat;
}
/* Where to */
/* .nav-for-mob .btn1{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #222222;
  border: none;
  border-radius: 1000px;
  padding: 0 3px;
}
.search{
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 6px 0 4px;

}
.nav-text1{
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.nav-text1 .nt2{
  width: 100%;
  font-family: "Airbnb Cereal VF";
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  margin-left: 0px;
}
.nav-text1 .nt3{
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
  height: auto;
  font-family: "Airbnb Cereal VF";
  font-size: 12px;
  font-weight: 400;
  font-stretch: 100%;
  color: #6A6A6A;
  text-align: left;
}
.btn1{
  display: none;
} */
/* Where to end */
/* search nav */
.btn1{
  display: none;
}
.nav-for-mob .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #222222;
  border: none;
  border-radius: 1000px;
  padding: 0 3px;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 10px 0px 0px;

}
.nav-text .nt1{
  font-family: "Airbnb Cereal VF";
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
/* search nav end */
.sec-nav-con{
  width: 100%;
  display: flex;
}
.logo-container{
  width: 100%;
  height: 74px;
  text-size-adjust: 100%;
  overflow: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
}
.logo-container::-webkit-scrollbar{
  display: none;
}
.logos{
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  column-gap: 16px;
  align-items: center;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  box-sizing: border-box;
}
#fm{
  margin-right: 4px;
}
#fm1::after{
  height: 2px;
  width: 30px;
  content: '';
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  position: absolute;
  color: #222222;
  background-color: #222222;
  box-sizing: border-box;
  margin: 12px 0px 0px 17px;
}
#fm2{
  color: #222222;
}
.logo{
  top: 0;
  height: 44px;
  display: block;
  position: static;
  padding: 4px 0;
  margin: 3px 0 10px;
  box-sizing: border-box;
}
.logo .log{
  min-width: 64px;
  display: grid;
  grid-auto-flow: row;
  row-gap: 4px;
  color: rgb(106, 106, 106);
  text-size-adjust: 100%;
  text-align: center;
  justify-items: center;
  box-sizing: border-box;
}
.log1{
  width: 100%;
  height: 24px;
  text-align: center;
}
.log2{
  width: 100%;
  height: 24px;
  text-align: center;
}
.des1{
  width: 100%;
  line-height: 15px;
  width: fit-content;
}
.log1 img{
  height: 24px;
  opacity: 0.6742081447963801;
}
.log2 img{
  height: 24px;
}
.des1 span{
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
}

/* ____Section____ */

section{
  display: block;
}
.main-content-container{
  width: 100%;
  height: auto;
  position: relative;
}
.container-for-contents{
  margin: 24px 0px 32px;
  padding: 0px 24px;
}
.container1{
  display: grid;
  gap: 40px;

}
.container2{
  position: relative;
  display: grid;
  gap: 40px;
  margin-top: 52px;
}
.main-head h2{
  font-size: 32px;
  font-weight: 500;
  font-family: "Airbnb Cereal VF";
  line-height: 36px;
  letter-spacing: -0.02em;
  margin-bottom: -28px;
  margin-top: 52px;
}
.cont{
  position: relative;
  width: 100%;
  font-size: 15px;
  line-height: 19px;
  font-family: "Airbnb Cereal VF";
  font-weight: 500;
  display: grid;
  grid-auto-flow: row;
  row-gap: 12px;
}
.cont .img-for-site{
  width: 100%;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  text-size-adjust: 100%;
  aspect-ratio: 20 / 19;
}
.img-for-site .download{
  display: flex;
}
.img-for-site .download .dm1{
  position: absolute;
  top: 12px;
  right: 12px;
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  padding: 8px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), linear-gradient(0deg, rgba(255, 255, 255, 0.54) 0%, rgba(255, 255, 255, 0.48) 60%, rgba(255, 255, 255, 0.76) 100%);;
  backdrop-filter: blur(28px);
  border-radius: 50%;
}

.cont .text{
  width: 100%;
  gap: 2px;
  display: flex;
  flex-flow: column;
  white-space: nowrap;
  overflow: hidden;
  text-size-adjust: 100%;
}
.cont img{
  display: grid;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  white-space: nowrap;
  background-attachment: scroll;
  grid-column-start: 1;
  grid-column-end: 10;
}
.cont .text .head1{
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text .small-head{
  width: 100%;
  display: block;
  font-weight: 400;
  color: rgb(106, 106, 106);
}

/* _____Section 2_____ */

.main-future-container{
  width: 100%;
  background-color: #F7F7F7;
}
.future-container{
  position: relative;
  padding: 48px 24px;
  display: grid;
}
.top-head h2{
  width: 100%;
  font-size: 22px;
  font-family: "Airbnb Cereal VF";
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.01375rem;
  margin-bottom: 8px;
  margin-top: 0px;
  text-size-adjust: 100%;
}
.future-nav-container{
  width: 100%;
  position: relative;
  text-size-adjust: 100%;
  overflow: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
}
.future-nav-container::-webkit-scrollbar{
  display: none;
}
.future-nav{
  display: flex;
  /* gap: 0; */
  /* grid-auto-flow: column; */
  padding: 0 12px;
  margin: 0 -12px;
  white-space: nowrap;
}
.future-nav .fn{
  width: fit-content;
  color: #6A6A6A;
  font-size: 14px;
  font-family: "Airbnb Cereal VF";
  font-weight: 500;
  line-height: 18px;
  padding: 10px;
  margin: 6px 6px 6px 0;
  text-align: center;
  text-wrap-mode: nowrap;
  text-size-adjust: 100%;
}
.future-nav #fn1{
  color: #222222;
  margin-left: -10px;
}
.future-nav #fn1 .line1{
  display: none;
  /* background-color: #F7F7F7; */
}
.future-nav #fn1::after{
  height: 2px;
  width: 50px;
  content: '';
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  position: absolute;
  color: #222222;
  background-color: #222222;
  box-sizing: border-box;
  margin: 32px 0px 0px -50px;
}
.future-next-button{
  top: 109px;
  right: 12px;
  width: 33px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(to right, transparent,#F7F7F7,#F7F7F7,#F7F7F7,#F7F7F7);
}
.future-next-button button{
  border: none;
  background: transparent;
  padding: 0px;
}
.line{
  width: 100%;
  height: 1px;
  font-size: 14px;
  background-color: #DDDDDD;
  border-image-repeat: repeat;
  font-family: "Airbnb Cereal VF";
}
.future-content-container{
  width: 100%;
}
.future-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
  row-gap: 24px;
  padding-top: 32px;
  line-height: 18px;
}
.future-content #fuco1{
  display: none;
}
.future-content .mt{
  font-weight: 500;
  color: #222222;
}
.future-content .st{
  color: #6A6A6A;
}
#fucolast{
  display: flex;
  gap: 4px;
  text-wrap-mode: nowrap;
}
#fucolast .st{
  color: #222222;
  margin-top: 3px;
}

/* _____Footer_____ */

footer{
  width: 100%;
}
.footer-container{
  padding: 0 24px;
  background-color: #F7F7F7;
}
.footer-content-contianer, .footer-end{
  padding: 24px 0;
}
.footer-content-contianer h3{
  font-size: 14px;
  font-weight: 500;
  font-family: "Airbnb Cereal VF";
  line-height: 18px;
  margin-top: 0;
  color: #222222;
  margin-bottom: 12px;
}
.footer-content{
  display: grid;
  gap: 12px;
  font-size: 0.875rem;
  line-height: 20px;
  color: #222222;
}
.footer-content #sci{
  margin-bottom: 1px;
}
.end-top{
  color: #222222;
  display: flex;
  gap: 24px;
}
.end-top-tab{
  display: none;
}
.left-top{
  display: flex;
  gap: 8px;
  height: 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.125rem;
  text-align: center;
}
.left-top .lt{
  margin-top: 1px;
}
.center-top{
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.125rem;
  text-align: center;
}
.center-top .ct{
  font-size: 16px;
}
.end{
  line-height: 18px;
  color: #222222;
  margin-top: 23px;
  display: grid;
  gap: 8px;
}
.end .fe{
  line-height: 18px;
}
.end .le{
  display: flex;
  flex-flow: column;
  gap: 4px;
}
.end .le .last-end{
  display: flex;
  align-items: center;
  line-height: 26px!important;
  box-sizing: border-box;
  white-space: nowrap;
  text-wrap-mode: nowrap;
}
.end .le .end-last{
  display: flex;
  align-items: center;
  line-height: 26px!important;
  box-sizing: border-box;
  white-space: nowrap;
}
.last-end li{
  display: inline-block;
  line-height: 1.125rem;
  box-sizing: border-box;
  left: 0px;
  white-space: nowrap;
}

.last-end span{
  font-size: 14px !important;
  display: inline-block;
  width: 19px !important;
  line-height: 1.125rem !important;
  text-align: center;       
}

/* View for Large Mobile */

@media screen and (min-width:375px){
  .nav-mob-container{
    margin-inline: 24px;
  }
  .end{
    gap: 4px;
  }
  .end .le{
    flex-flow: row;
    gap: 0;
  }
  .future-next-button{
    top: 83px;
  }
}

/* view-in-550px */
@media screen and (min-width:550px) {
  .container1{
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .container2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }
}
/* tablet view */

@media screen and (min-width:768px) {

  /* _____Nav_____ */

  .nav-container{
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.01);
  }
  .nav-mob-container{
    display: none;
  }
  .nav-tab-container{
    display: block;
    width: 100%;
  }
  /* .nav-tab-container::after{
    width: 100%;
    height: 0.05px;
    content: '';
    position: relative;
    display: block;
    border: 0.05px solid #DDDDDD;
    --box-shadow: rgb(0 0 0/16%) 0 0 calc(3px);
    background-repeat: repeat;
    box-sizing: border-box;
  } */
  .nav-for-tab{
    height: 80px;
    display: flex;
    padding-inline: 40px;
    align-items: center;
  }
  .site-main-logo{
    display: flex;
    height: 80px;
    flex: 0 0 auto;
    color: #FF385C;
    align-items: center;
  }
  .button-container{
    display: flex;
    padding: 0px 24px;
    flex: 0 1 auto;
    min-width: 333.750px;
  }
  .bt-co-tab{
    max-width: 100%;
    text-align: left;
    display: inline-block;
  }
  .bt-co{
    max-width: 100%;
    display: inline-flex;
    position: relative;
    background-color: #ffffff;
    border: 0.5px solid #DDDDDD;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
    align-items: center;
    text-align: left;
    border-radius: 30px;
  }
  .bt-co button{
    padding: 0;
    height: 46px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    flex: 0 1 auto;
    z-index: 1;
    color: #222222;
    font-family: "Airbnb Cereal VF";
    position: relative;
    background-color: #ffffff;
    border-radius: 30px;
  }
  .side-line{
    width: 1px;
    height: 24px;
    color: #DDDDDD;
    background-color: #DDDDDD;
  }
  .bt-co .btc-1{
    padding-left: 8px;
  }
  .bt-co .btc-3 {
    display: flex;
    align-items: center;
  }
  .bt-co .btc-3 #tc3{
    color: #6A6A6A;
    font-weight: 400;
  }
  .bt-co .btc-3 .sb{
    border-radius: 50%;
    padding: 10px;
    color: #ffffff;
    margin: 7px 7px 7px 0px;
    background-color: #FF385C;
  }
  .bt-co #tc1 div{
    max-width: 61.83px;
  }
  .bt-co #tc2 div{
    max-width: 59.07px;
  }
  .bt-co #tc3 div{
    max-width: 65.86px;
  }
  .bt-co .text-con div{
    padding: 0px 16px;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap-mode: nowrap;
    white-space: nowrap;
  }
  .Airbnb-home-container{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .home-container{
    display: flex;
    align-items: center;
  }
  .home-logo-container{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-right: 8px;
  }
  .home-logo-container .home{
    padding: 12px;
    white-space: nowrap;
  }
  .home-logo-container .home-logo{
    padding: 12px;
  }
  .person-menu-container{
    display: flex;
    padding: 7px 8px 7px 14px;
    gap: 14px;
    border: 0.5px solid #DDDDDD;
    border-radius: 40px;
    background-color: #ffffff;
    align-items: center;
  }
  .person-menu-container .menu{
    color: rgb(34,34,34);
  }
  .person-menu-container{
    color: rgb(106, 106, 106);
  }
  
  .nav-container::after{
    display: none;
  }
  .logo-container{
    height: 78px;
  }
  .logo-container::after{
    width: 100%;
    height: 0.5px;
    font-size: 14px;
    content: '';
    background-repeat: repeat;
    box-shadow: rgb(0 0 0/16%) 0 0 calc(3px);
    z-index: 1;
    position: relative;
    display: block;

  }
  .logos{
    padding-inline: 40px;
    column-gap: 32px;
  }
  .logo .log{
    row-gap: 8px;
    margin-top: -2px;
    min-width: 56px;
  }
  #fm{
    margin-right: 8px;
  }
  #fm1::after{
    margin: 12px 0px 0px 13px;
  }
  .line1{
    width: 100%;
    height: 0.5px;
    font-size: 14px;
    /* background: 0.05px solid #DDDDDD; */
    background-color: #DDDDDD;
    border-image-repeat: repeat;
    font-family: "Airbnb Cereal VF";
  }
  .underline{
    width: 100%;
    height: 0.5px;
    font-size: 13px;
    background-color: #F7F7F7;
    border-image-repeat: repeat;
    font-family: "Airbnb Cereal VF";
  }

  /*_____ Section _____ */

  .container-for-contents{
    margin: 24px 0px 48px;
    padding: 0px 40px;
  }
  .container1{
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .container2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 40px;
    /* white-space: nowrap; */
  }

  /* _____Section2_____ */

  .future-container{
    padding: 48px 40px;
  }
  .future-next-button{
    right: 27px;
  }
  .future-content #fuco1{
    display: block;
  }
  
  /* ______Footer______ */

  .footer-container{
    padding: 0 40px;
  }
  .footer-content #sci{
    margin-bottom: 0px;
  }
  .footer-end{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .end-top{
    width: 100%;
    justify-content: center;
    margin-bottom: 17px;
    gap: 0;
  }
  .center-top{
    margin-left: 24px;
  }
  .end-top-tab{
    margin-left: 48px;
    display: flex;
    gap: 16px;
  }
  .end{
    margin-top: 0px;
    margin-bottom: 1px;
    display: grid;
    gap: 3px;
    justify-items: center;
  }
  .end .le{
    height: 18px;
  }
}

@media screen and (min-width:787px) {
  .button-container{
    min-width: 352.570px;
  }
  .bt-co{
    max-width: 100%;
  }
  .bt-co #tc1 div{
    max-width: 100%;
  }
  .bt-co #tc2 div{
    max-width: 100%;
  }
  .bt-co #tc3 div{
    max-width: 100%;
  }
}
@media screen and (min-width:950px) {
  .button-container{
    flex: 0 1 auto;
    text-align: center;
  }
  .Airbnb-home-container{
    flex: 1 0 140px;
  }
  .site-main-logo{
    flex: 1 0 140px;
  }
  .container1{
    grid-template-columns: repeat(3, 1fr);
  }
  .container2{
    grid-template-columns: repeat(3, 1fr);
  }
  /* _____sec2_____ */

  .future-next-button{
    display: none;
  }
  .future-content{
    grid-template-columns: repeat(3, 1fr);
  }
  /* _____footer_____ */
  #footer-line{
    display: none;
  }
  .footer-start{
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3,1fr);
  }
  .footer-content-contianer{
    padding: 48px 0px;
  }
}